# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: Main CI Workflow

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: gradle/wrapper-validation-action@v1
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: 21
        distribution: "temurin"
        cache: 'gradle'
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Compile with Gradle
      run: |
        ./gradlew assembleRelease
    - name: Sign release
      uses: ilharp/sign-android-release@v1
      id: sign_app
      with:
        releaseDir: build/outputs/apk/release
        signingKey: ${{ secrets.SIGNING_KEY }}
        keyAlias: ${{ secrets.ALIAS }}
        keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
        buildToolsVersion: 35.0.0
    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: app
        path: ${{steps.sign_app.outputs.signedFile}}
